.iconify {
  font-size: 25px;
  margin: 0 10px;
}

.content {
  margin-top: 80px;
  position: relative;
}

#upload {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
}

#upload .iconify {
  color: #7b2083;
  font-weight: 700;
  font-size: 30px;
}

#upload .custom-file-upload {
  cursor: pointer;
}
