{% extends 'base.html.twig' %}

{% block title %}AWS S3 + Symfony Demo{% endblock %}
{% block body %}
<div class="hero is-primary">
  <div class="container">
  <h1 class="opacity-50">AWS S3 Filesystem Wrapper</h1>
  <h5>Make the usage of <code>AWS S3 Bucket</code> simple as possible by using ONLY <code>Aws-php-sdk</code></h5>
  </div>
</div>
{% endblock %}
